# Database
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sergey1234

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/postgres


# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001

OPENAI_API_KEY=your-API-key